@import "./src/styles/colors";
.buttonBar {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 50px;

    border: 1px solid #dfe5ec;
    overflow: hidden;
    height: fit-content;

}
