@import "../../../../styles/colors";
.container {
  display: flex;
  text-align: center;
  max-width: fit-content;
  cursor: pointer;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }

}

.labelText {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-self: center;
  color: $GrayDark;

}
.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;

  //width: 1px;
}

.checkbox {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid $GrayCheckBox;
  margin-right: 10px;
  border-radius: 2px;
  padding: 3px 2px 3px;

}

.checkboxActive {
  @extend .checkbox;
  border: 1px solid $MainAccent;

}
