@import "../../../../styles/colors";

.ticketContainer {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.price {
    padding: 6px 0 6px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $MainAccent;
}

.airlineLogo {
    width: 110px;
    height: 36px;
}

.ticketHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ticketDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.routeBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:last-of-type {
        margin-top: 10px;
    }
}

.dataBlock {
    max-width: 140px;
    min-width: 140px;
}

.dataBlockHeader {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: $GrayForBorders;
    margin: 0;
    font-weight: 600;
}

.dataBlockTxt {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: $GrayDark;
    font-weight: 500;
}
